﻿<div class="card" style="width: auto">
    <img class="card-img-top" src="~/Asset/assets/img/about-bg.jpg" alt="Card image cap"  style="height: 200px">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>