﻿@model IEnumerable<FA.JustBlog.ViewModels.TagViewModel>
<ul>
    @foreach (var tag in Model)
    {
    <li>
        @Html.ActionLink(tag.Name, "GetPostByTag", "Posts", new{tagName = tag.Name}, null)
    </li>
    }
</ul>

