﻿@model FA.JustBlog.Core.Model.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title </h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.HiddenFor(model => model.CategoryId)
    @Html.Partial("_CreateOrEdit")

    <div class="form-group text-right">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" value="Save" class="btn btn-success" />
            <a href="@Url.Action("Delete","Categories", new {id = Model.CategoryId})"
               class="btn btn-danger">
                Delete
            </a>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
