﻿@model FA.JustBlog.ViewModels.PostViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2> @Model.Title</h2>
    <p class="post-meta">Posted @Model.Post_On with rate @Model.TotalRate by @Model.ViewCount view(s)</p>
    <p class="post-subtitle">
        @Model.Post_Content
    </p>
</div>