﻿@model IEnumerable<FA.JustBlog.ViewModels.PostViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        @foreach (var post in Model)
        {
            <!-- Post preview-->
            <div class="post-preview">
                <a href="@Url.Action("Detail", "Posts", new { id = post.PostId})">
                    <h2 class="post-title">@post.Title</h2>
                    <p class="post-meta">Posted @post.Post_On with rate @post.TotalRate by @post.ViewCount view(s)</p>
                </a>
                <p class="post-subtitle">
                    @post.Short_Desciption
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        }
        <!-- Post preview-->
        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
    </div>
</div>