﻿@model IEnumerable<FA.JustBlog.ViewModels.CategoryViewModel>

@if (Model != null && Model.Count() > 0)
{
    foreach (var category in Model)
    {
       
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@Url.Action("GetPostByCategory","Posts", new { id = category.Name})">@category.Name</a></li>
    }
}