﻿@model IEnumerable<FA.JustBlog.ViewModels.CategoryViewModel>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var category in Model)
        {
            <li>@Html.ActionLink(category.Name, "Index", "Home")</li>
        }
    }
</ul>