﻿@model IEnumerable<FA.JustBlog.ViewModels.CategoryViewModel>

@if(Model != null && Model.Count() > 0)
{
    foreach(var category in Model)
    {
        <a class="collapse-item" href="#">@category.Name </a>
    }
}